@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

/* Font styles */
.montserrat-alternates {
    font-family: var(--font-montserrat-alternates), sans-serif;
}

/* Main Text Colors */
.text-main {
    @apply text-[#364153] dark:text-[#d1d5dc]
}

/* Colors */
.text-main-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-indigo-600 via-purple-600 to-pink-600
}

/* BG Colors */
.bg-main-gradient {
    @apply bg-gradient-to-r from-indigo-600 via-purple-600 to-pink-600
}

.bg-main-gradient-active {
    @apply active:bg-gradient-to-r active:from-indigo-800 active:via-purple-800 active:to-pink-800
}

.bg-main-gradient-hover {
    @apply hover:bg-gradient-to-r hover:from-indigo-800 hover:via-purple-800 hover:to-pink-800
}

/* Header BG Colors */
.bg-header {
    @apply bg-gray-50/40 dark:bg-[#0A1124]/50
}

.bg-header-test {
    @apply bg-[#becdf6]

}

/* Falling and Fading animation */
@keyframes fallOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(30px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.word-exit {
    animation: fallOut 0.8s ease-in forwards;
    display: inline-block;
}

.word-enter {
    animation: fadeIn 0.8s ease-out forwards;
    display: inline-block;
}

.word-animation {
    animation: fallAndFade 2s ease-in-out;
    display: inline-block;
}